.App {
  width: 200px;
  height: 200px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-inner {
  flex: 1;
  background-color: #eee;
  padding: 8px;
  font-size: 1.3rem;
}

button {
  margin-bottom: 8px;
  font-size: 1.3rem;
}

.hint,
.github-link {
  margin-top: 8px;
}
